.team-card {
  .team-title {
    margin: 30px 0 0;
  }
  .team-subtitle {
    margin: 0 0 20px;
    font-size: 13px;
  }
  .social-overlay {
    position: relative;
    .img-overlay {
      background: rgb(8 8 8 / 60%);
      opacity: 0;
      transition: .3s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1.25rem;
      border-radius: calc(0.25rem - 1px);
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        position: relative;
        //top: 50%;
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        li {
          a {
            color: $white;
            transition: 0.2s ease-in;
            padding: 0 10px;
            display: block;
            &:hover {
              transform: translate3d(0px, -5px, 0px);
            }
          }

          i {
            font-size: 40px;
          }
        }
      }
    }
    &:hover {
      .v-image {
        filter: blur(2px);
      }
      .img-overlay {
        opacity: 1;
      }
    }
  }
}
